# Default ignored files
/shelf/
/../target/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\project\miaoshaproject-standard code\miaosha\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
